<!-- ==================================================
    FOOTER
======================================================= -->
<footer class="footer dark-bg" id="contact">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-white">Contact us</h2>
                </div>
            </div>
            <div class="row">
                <!-- Footer Left Col -->
                <div class="col-md-5">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_mail"></i>
                        </div>
                        <div class="contact-content">
                            <a href="mailto:apply@salesfloor.net">apply@salesfloor.net</a>
                        </div>
                    </div>
                </div>
                <!-- Footer Contact Col -->
                <div class="col-md-3">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_pin"></i>
                        </div>
                        <div class="contact-content">
                            <b>Montreal</b><br>
                            426 Guy<br>
                            Montreal, PQ<br>
                            H3J 1S6
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_pin"></i>
                        </div>
                        <div class="contact-content">
                            <b>New York</b><br>
                            49 West 27th St<br>
                            New York, NY<br>
                            10001
                        </div>
                    </div>
                </div>
                <!-- Footer Right Col: Twitter Feed -->
                <div class="col-md-4">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="icon icon_phone"></i>
                        </div>
                        <div class="contact-content">
                            +1 (514) 508-2007
                        </div>
                    </div>
                </div>

                <!-- Footer Menu and Copy -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="footer-copy">Copyright 2015 Salesfloor | All rights reserved</p>
                    </div>
                </div>

            </div><!-- End Row -->
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</footer>
