<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- TITLE OF SITE -->
    <title>{{ page.title }} | Salesfloor</title>
    <meta name="description" content="{{ page.excerpt }}" />

    <meta name="author" content="Salesfloor">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Sell the products you love with an online store from Salesfloor">
    <meta itemprop="description" content="Create a personalized storefront and start earning real commissions from the brands you know and trust.">
    <meta itemprop="image" content="http://apply.salesfloor.net/assets/images/sf_fbog.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@salesfloor">
    <meta name="twitter:title" content="Sell the products you love with an online store from Salesfloor">
    <meta name="twitter:description" content="Create a personalized storefront and start earning real commissions from the brands you know and trust.">
    <meta name="twitter:creator" content="@salesfloor">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://apply.salesfloor.net/assets/images/sf_fbog.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Sell the products you love with an online store from Salesfloor" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://apply.salesfloor.net" />
    <meta property="og:image" content="http://apply.salesfloor.net/assets/images/sf_fbog.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="Create a personalized storefront and start earning real commissions from the brands you know and trust." />
    <meta property="og:site_name" content="Salesfloor" />

    <!-- FAVICON  -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- =========================
       STYLESHEETS
    ============================== -->

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="/assets/css/icons/icons.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    <!-- GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

    <!-- PLUGINS STYLESHEET -->
    <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css">

    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- COLORE STYLESHEET -->
    <!-- Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css -->
    <link rel="stylesheet" href="/assets/css/colors/blue.css" title="blue">

    <!--[if lt IE 9]>
            <script src="/assets/js/plugins/html5shiv.min.js"></script>
            <script src="/assets/js/plugins/respond.min.js"></script>
    <![endif]-->
</head>
