<!-- =========================================
     Navigation
========================================== -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Navbar-Header -->
                <div class="navbar-header">

                    <!-- Mobile Menu -->
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <i class="icon icon_menu"></i>
                    </button>

                    <!-- Text-Logo -->
                    <a href="http://apply.salesfloor.net" class="navbar-brand scrollto" title="People Powered E-Commerce | Salesfloor">
                        <img src="/assets/images/logos/salesfloor-logo-white.png" alt="People Powered E-Commerce | Salesfloor" class="img-logo hidden-xs">
                    </a>

                </div><!-- /End Navbar-Header -->

                <!-- Navbar-Collapse -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#about" title="About the program | Salesfloor" class="scrollto">About</a></li>
                        <li><a href="#benefits" title="Benefits | Salesfloor" class="scrollto">Benefits</a></li>
                        <li><a href="#join" title="Become a brand ambassador | Salesfloor" class="scrollto">Join now</a></li>
                        <li><a href="#faq" title="FAQ | Salesfloor" class="scrollto">FAQ</a></li>
                        <li><a href="#contact" title="Contact us | Salesfloor" class="scrollto">Contact us</a></li>
                    </ul>
                </div>
            </div><!-- /End Col -->
        </div><!-- /End Row -->
    </div><!-- /End Container -->
</nav><!-- /End Sticky Navigation -->
