<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    <div class="main-wrapper">

        <div id="menu"></div>

        <!-- =========================
             HEADER
        ============================== -->
        <header class="header {{ page.class }}" id="top">
            <!-- Background Overlay -->
            <div class="overlay-short">

                {% include nav2.html %}

                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle hero-app">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="hero-section">

                                <!-- Welcome - Hero Message -->
                                <h1 class="text-white">{{ page.hero_title }}</h1>
                                <p class="text-white">{{ page.hero_subtitle }}</p>

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->

        {{ content }}

        {% include social.html %}

        {% include footer.html %}

    </div>

    {% include script.html %}

</body>
</html>
